.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

img {
  margin: 20px;
  width: 100px;
  height: 100px;
  flex:content;
  border-radius: 1.5rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav ul {
  list-style-type: none;
  margin: 15px;
  padding: 15px;
  display: inline-flex;
}

nav ul li  {
  margin: 15px;
  color: black;
}

